*, ::after, ::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.preloader {
  width: 304px;
  height: 304px;
  margin: 210px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  animation: preloader-main 4s linear infinite;
}

.preloader__item {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.preloader__item:nth-child(2n) {
  background: #d0001e;
  animation: preloader-even 3s linear infinite;
}

.preloader__item:nth-child(2n - 1) {
  background: #0432a8;
  animation: preloader-odd 3s linear infinite;
}

.preloader__item:nth-child(5n + 1) {
  animation-delay: .2s;
}

.preloader__item:nth-child(5n + 2) {
  animation-delay: .4s;
}

.preloader__item:nth-child(5n + 3) {
  animation-delay: .6s;
}

.preloader__item:nth-child(5n + 4) {
  animation-delay: .8s;
}

.preloader__item:nth-child(5n) {
  animation-delay: 1s;
}

@keyframes preloader-main {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-even {
  0%, 100% {
    transform: scale(1);
    background: #d0001e;
  }

  25%, 75% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
    background: #50bE0f;
  }
}

@keyframes preloader-odd {
  0%, 100% {
    transform: scale(1);
    background: #0432a8;
  }

  25%, 75% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
    background: #e0d309;
  }
}