@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.check {
  display: none;
}

body {
  font: 400 14px/1.4 "Arial", "Roboto", "Montserrat", sans-serif;
}

label {
  display: inline-block;
}

.wrap {
  display: flex;
  width: 100%;
  max-width: 1280px;
  justify-content: space-between;
  margin: 10px auto;
}

.filling-block {
  width: calc(100% - 675px);
}

.selection-block {
  width: 100%;
  max-width: 635px;
}

.block-title {
  font: 500 50px/1.2 "Roboto", sans-serif;
  color: #26292e;
}

.choose__text {
  font: 400 20px/1.4 "Roboto", sans-serif;
  color: #414141;
  margin-top: 10px;
}

.address {
  color: #26292e;
}

.check-text {
  color: #414141;
  font: 400 30px/35px "Roboto", sans-serif;
  position: relative;
  display: inline-block;
  padding-left: 25px;
}

.check-text::before, .check-text::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.check-text::before {
  width: 16px;
  height: 16px;
  border: 1px solid #408858;
  left: 0;
}

.check-text::after {
  width: 8px;
  height: 8px;
  background: #408858;
  left: 4px;
  opacity: 0;
  transition: .3s;
}

.check:checked + .check-text::after {
  opacity: 1;
}

.choose {
  margin-top: 55px;
}

.choose__option {
  margin-top: 29px;
}

.input-block {
  display: flex;
  flex-direction: column;
}

.input-block__text {
  font: 500 20px/1.2 "Montserrat", sans-serif;
}

.input-panel {
  font: 500 16px/1.2 "Montserrat", sans-serif;
  height: 49px;
  box-shadow: 0 0 10px rgba(38, 41, 46, 0.25);
  padding-inline: 19px;
  margin-top: 10px;
}

.area {
  resize: none;
  height: 146px;
}

.input-block {
  margin-top: 19px;
}

.input-block:first-of-type {
  margin-top: 55px;
}

.send {
  font: 500 20px/1.2 "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  max-width: 262px;
  background-color: #408858;
  padding-block: 18px;
  margin-top: 19px;
}

@media (max-width: 1085px) {
  .wrap {
    flex-direction: column;
    align-items: center;
  }

  .filling-block {
    order: 2;
    width: 100%;
    max-width: 605px;
  }

  .selection-block {
    order: 1;
  }
}